
:global{
    .ant-calendar-picker-container{
        position: absolute;
        z-index: 1050;
        font-size: 14px;
        white-space: nowrap;
        background: #fff;
        border-radius: 4px;
        -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.15);
        box-shadow: 0 2px 8px rgba(0,0,0,.15);
    }
}
.cameraCascader{
    position: absolute;
    z-index: 1050;
    font-size: 14px;
    white-space: nowrap;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.15);
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    :global{
        .ant-cascader-menu{
            height: 280px;
        }
        .ant-cascader-menu > .ant-cascader-menu-item{
            width: 195px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
.alarms{
    min-width: 920px;
    position:relative;
    background-color: white;
    min-height: calc(100% - 30px);
    margin: 10px 10px 20px 10px;
    padding: 20px 20px 72px 20px;
    border-radius: 2px;
    .span10px{
        width: 10px;
        display: inline-block;
    }
    &-filterWrapper{
        &-btnWrapper{
            float: right;
        }
        margin-bottom: 20px;
    }
    &-listWrapper{
        width: 100%;
        height: calc(100vh - 220px);
        overflow-y: auto;
        .AlarmCard{
            margin-bottom: 20px;
        }
        @media screen and (min-width: 1501px) {
            .AlarmCard{
                height: 400px;
                width: calc((100% - 15px * 4) / 5 );
                &-imgWrapper{
                    height: 235px;
                }
            }
            .AlarmCard:not(:nth-of-type(5n+0)){
                margin-right:15px;
            }
        }
        @media screen and (max-width: 1500px) {
            .AlarmCard{
                height: 300px;
                width: calc((100% - 15px * 3) / 4 );
                &-imgWrapper{
                    height: 135px;
                }
            }
            .AlarmCard:not(:nth-of-type(4n+0)){
                margin-right:15px;
            }
        }
        // @media screen and (max-width: 1400px) {
        //     .AlarmCard{
        //         width: calc((100% - 15px * 2) / 3 );
        //     }
        //     .AlarmCard:not(:nth-of-type(3n+0)){
        //         margin-right:15px;
        //     }
        // }
    }
    &-paginationWrapper{
        position: absolute;
        bottom: 20px;
        right: 20px;

    }
    :global{
        .anticon{
            vertical-align: baseline;
        }
        .ant-select-selection--single{
            min-width: 100px;
        }
        .ant-select-selection__rendered{
            line-height: 32px;
        }
    }
}
.AlarmCard{
    display: inline-block;
    border:1px solid  rgba(0,0,0,.15);
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    border-radius: 2px;
    background-color: white;
    padding: 15px;
    &>div:not(:first-child){
        margin-top: 5px;
    }
    &-imgWrapper{
        background-color: rgba(0,0,0,.05);
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}