
:global{
    .ant-calendar-picker-container{
        position: absolute;
        z-index: 1050;
        font-size: 14px;
        white-space: nowrap;
        background: #fff;
        border-radius: 4px;
        -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.15);
        box-shadow: 0 2px 8px rgba(0,0,0,.15);
    }
}
.cameraCascader{
    position: absolute;
    z-index: 1050;
    font-size: 14px;
    white-space: nowrap;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.15);
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    :global{
        .ant-cascader-menu{
            height: 280px;
        }
        .ant-cascader-menu > .ant-cascader-menu-item{
            width: 195px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
.alarms{
    background-color: white;
    min-height: calc(100% - 30px);
    margin: 10px 10px 20px 10px;
    padding: 20px;
    border-radius: 2px;
    .span10px{
        width: 10px;
        display: inline-block;
    }
    &-filterWrapper{
        &-btnWrapper{
            float: right;
        }
        margin-bottom: 20px;
    }
    &-listWrapper{
        width: 100%;
        .AlarmCard{
            width: calc((100% - 15px * 4) / 5 );
        }
        .AlarmCard:not(:last-child){
            margin-right:15px;
        }
    }
}
.AlarmCard{
    display: inline-block;
    height: 200px;
    border:1px solid  rgba(0,0,0,.15);
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    border-radius: 2px;
    background-color: white;
    padding: 20px;
}