@import '~Styles/index.less';
@manage-prefix-cls: ~'@{emr-prefix}-manage';

.menuCollapsedSubItem{
  .@{manage-prefix-cls}-tab-iconFs{
    vertical-align: middle;
    color:black;
  }
  &:hover{
    color:#2A89E0;
    .@{manage-prefix-cls}-tab-iconFs{
      color:#2A89E0;
    }
  }
}
.@{manage-prefix-cls} {
  &-container {
    // position: relative;
    font-family: 'Microsoft Yahei', sans-serif;
    // min-height: calc(100% - 50px);
    // height: calc(100vh - 50px);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex: auto;
    flex-direction: row;
    :global{
      .ant-menu-inline-collapsed{
        .ant-menu-item{
          text-align: center;
          a{
            .anticon+span{
              display: inline-block;
              max-width: 0;
              opacity: 0;
            }
          }
        }
      }
      .ant-menu-vertical{
        border-right: none;
      }
     
    }
    .menu {
      width: 240px;
      transition: width 0.1s cubic-bezier(0.49, -0.3, 0.68, 1.23);
    }
    .menuInline{
      width: 50px;
      transition: width 0.1s;
    }
  }
  &-tab {
    :global{
      .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
        background-color: #2A89E0;
      }
      .ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::before, .ant-menu-submenu-vertical > .ant-menu-submenu-title .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-left > .ant-menu-submenu-title .ant-menu-submenu-arrow::after, .ant-menu-submenu-vertical-right > .ant-menu-submenu-title .ant-menu-submenu-arrow::after, .ant-menu-submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow::after{
        background-image: none;
      }
      .ant-menu{
        background-color: #0059A5;
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 22px;
        .ant-menu-submenu > .ant-menu {
          background-color: #004B8C;
          color:white;
        }
        .ant-menu-item:active, .ant-menu-submenu-title:active {
          background-color: #2A89E0;
        }
        .ant-menu-item-active, .ant-menu-submenu-active{
          background-color: #2A89E0 !important;
        }
        .ant-menu-submenu-title:hover>.ant-menu-submenu-arrow::before,.ant-menu-submenu-title:hover>.ant-menu-submenu-arrow::after{
          background:white !important;
        }
        .ant-menu-submenu-arrow{
          color:white;
        }
      }
    }
    width: 240px;
    background-color: #0059A5;
    color:white;
    transition: width 0.5s cubic-bezier(0.49, -0.3, 0.68, 1.23);
    &-collapsed{
      width: 50px;
      transition: width 0.3s;
      .@{manage-prefix-cls}-name{
        // opacity: 0;
        display: none;
      }
      :global{
        .ant-menu-inline-collapsed > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
         .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title{
          padding:0 17px !important;
          // width: 15px;
          overflow: hidden;
          a{
            width: 15px;
            overflow: hidden;
          }
          a:before{
            width: 50px;
          }
        }
        .ant-menu-inline-collapsed> .ant-menu-item-selected{
          width: auto;
        }
        .ant-menu-vertical .ant-menu-item{
          margin: 0;
        }
        .ant-menu-vertical .ant-menu-item:not(:last-child){
          margin: 0;
        }
      }
      // .@{manage-prefix-cls}-tab-iconFs{
      //   vertical-align: baseline;
      // }
    }
    .span10px{
      display: inline-block;
      vertical-align: middle;
      color:white;
    }
    &-iconFs{
      color:white;
      font-size: 16px;
      padding-right: 16px;
      display: inline-block;
      vertical-align: middle;
    }
    &-full{
      .@{manage-prefix-cls}-tab-iconFs{
        vertical-align: middle;
      }
    } 

    // width: 240px;
    // position: fixed;
    // padding-top: 50px;
    // left: 0;
    // top: 0;
    // bottom: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 10;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &-content {
    //   padding: 0 20px 20px;
      // margin-left: 240px;
    //   background: #fff;
      // flex: 0 0 85%;
    flex: 1;
    background-color: white;
    overflow-y: auto;
    &-inner{
      position: relative;
      // min-width: 1000px;
    }
  }
  .Menu-menuItem{
    span{
      display: inline-block;
      
    }
  }
  &-avatar {
    text-align: center;
    height: 42px;
    line-height: 42px;
    margin: 15px 0;
    font-size: 28px;
    vertical-align: middle;
    overflow: hidden;
    &>img{
      display: inline-block;
      vertical-align: middle;
      // width: 42px;
      width:100px;
    }
    // &>span{
    //   display: inline-block;
    //   vertical-align: middle;
    // }
  }
  // &-avatar-collapsed {
  //   &>img{
  //     display: inline-block;
  //     vertical-align: middle;
  //     // width: 42px;
  //     width:34px;
  //   }
  // }
  &-img {
    display: block;
    width: 41px;
    height: 40px;
    margin: 28px auto 0;
  }
  &-name {
    line-height: 42px;
    display: inline-block;
    vertical-align: middle;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #FFFFFF;
  }
 
  &-main {
    overflow:auto;
    padding: 10px 10px 0 10px;
    // height: calc(100vh - 120px);
    height: calc(100vh - 32px);
    background: #f7f7f7;
  }
  &-menuicon{
    // padding-left: 10px;
  }
  
}
