.delete-modal{
    :global{
        //对话框样式覆盖
        .ant-modal-close {
            top: 16px !important;
            right: 10px !important;
        }
        .ant-modal-header{
            border-bottom: none !important;
            padding-top: 30px !important;
            padding-bottom: 0 !important;
            height: 60px !important;
            padding-left: 34px !important;
        }
        .ant-modal-footer{
            border-top:none !important;
            text-align: center!important;
            background-color:#F5F5F5!important;
            height: 70px!important;
            line-height: 70px!important;
            overflow: hidden!important;
            padding: 0!important;
        }
    }
    font-size: 14px;
    .ant-modal-title{
        white-space: nowrap;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .delete-content{
        height: 50px;
        margin: 10px;
        .delete-icon{
            height: 100%;
            font-size:40px;
            span{
                height: 100%;
                line-height: 50px;
            }
            text-align: right;
            color:#FFD939;
        }
        .delete-text{
            height: 100%;
            div{
                line-height: 25px;
            }
            div:nth-child(2){
                color:#666666
            }
        }
      
    }
}
