.mainWrapper {
  background: #fff;
  padding: 20px;
  position: relative;
  min-height: calc(100vh - 20px);
}
.mainWrapper .uploadWrapper {
  width: 873px;
  height: 268px;
  margin: 100px auto;
}
.mainWrapper .uploadWrapper .templateWrapper {
  vertical-align: bottom;
  height: 30px;
}
.mainWrapper .uploadWrapper .templateWrapper > a {
  float: right;
  font-size: 14px;
  line-height: 22px;
}
.mainWrapper .buttonWrapper {
  margin-top: 40px;
  padding: 0 340px;
}
.mainWrapper .buttonWrapper .btnNext {
  width: 78px;
  height: 31px;
}
.mainWrapper .buttonWrapper .btnBack {
  width: 78px;
  height: 31px;
  margin-left: 20px;
}
.mainWrapper .paginationWrapper > * {
  display: inline-block;
}
.mainWrapper .paginationWrapper > div {
  margin-top: 10px;
  float: right;
  font-family: HelveticaNeue;
  font-size: 12px;
}
.mainWrapper .paginationWrapper > span {
  margin-top: 15px;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #666666;
  text-align: left;
  line-height: 18px;
}
.deleteModal {
  width: 350px;
  height: 190px;
}
.deleteModal > div {
  margin-top: 80px;
}
.deleteModal .deleteModalImg {
  display: inline-block;
  float: left;
  margin-left: 20px;
}
.deleteModal .deleteModalImg > img {
  margin-top: 10px;
  width: 32px;
  height: 27px;
}
.deleteModal .deleteModalInfo {
  display: inline-block;
}
.deleteModal .deleteModalInfo > span {
  margin-top: 10px;
  margin-left: 10px;
  display: block;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #333333;
  text-align: left;
  font-weight: bold;
  margin-bottom: 21px;
}
.deleteModal .deleteModalInfo > p {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #999999;
  margin-bottom: 11px;
}
.buttonWrapper2 {
  padding-top: 50px;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}
.buttonWrapper2 .btnBack2 :global {
  margin-right: 25px;
  height: 34px;
}
.tabRow {
  height: 30px;
}
.confirmerWrapper :global .ant-table-thead > tr > th {
  color: #333333;
  font-weight: bold;
}
