.canvasOperator{
    position: relative;
    .noImgDataWrapper{
        background: #F7F7F7;
        height:200px;
        line-height: 200px;
        width: 100%;
        font-size: 16px;
        color:#999;
        text-align: center;
        position: absolute;
        top:0;
    }
    .optButtonWrapper{
        background: #F7F7F7;
        height: 40px;
        text-align: right;
        .optButton{
            // float: right;
            display: inline-block;
            font-size: 26px;
            margin-right: 10px;
            color: #8C8C8C;
            cursor: pointer;
            line-height: 40px;
            &-selected, &:hover{
                color:#ff9832;
            }
        }
    
    } 
    .canvasWrapper{
        position: relative;
    }
    .canvasLayer-op{
        position: absolute;
        left: 0;
        top: 0;
        z-index:100;
    }
}

