.mainWrapper {
  background: rgba(247, 247, 247);
  padding: 20px;
  position: relative;
  min-width: 1300px;
}
.cardWrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 22px;
  margin-bottom: 22px;
  border-radius: 4px;
  width: 100%;
}
.cardWrapper .card {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  background: #fff;
  justify-content: left;
  margin-right: 35px;
  width: calc(25% - 20px);
}
.cardWrapper .card .cardItem {
  display: inline-block;
  height: 124px;
  width: 50%;
}
.cardWrapper .card .cardItem .cardItemTitle {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  line-height: 22px;
  font-weight: 400;
  margin-top: 30px;
  margin-left: 36px;
}
.cardWrapper .card .cardItem .cardItemNo {
  font-family: HelveticaNeue;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 38px;
  font-weight: 400;
  margin-left: 36px;
}
.cardWrapper .card:last-of-type {
  margin-right: 0;
  width: calc(25% - 45px);
}
.tableWrapper {
  background-color: #fff;
  padding: 20px;
}
.disabled {
  pointer-events: none;
  filter: alpha(opacity=50);
  /*IE滤镜，透明度50%*/
  -moz-opacity: 0.5;
  /*Firefox私有，透明度50%*/
  opacity: 0.5;
  /*其他，透明度50%*/
}
.modalContainer {
  height: 100px;
}
.modalContainer .modalInfo {
  width: 100%;
  height: 40%;
  margin-top: 10%;
  vertical-align: middle;
  text-align: center;
}
.modalContainer .modalInfo > span {
  font-size: 40px;
  font-weight: 800;
}
.deleteModal {
  width: 350px;
  height: 120px;
}
.deleteModal .deleteModalImg {
  margin-top: 40px;
  display: inline-block;
  float: left;
  margin-left: 35px;
}
.deleteModal .deleteModalImg > img {
  margin-top: 10px;
  width: 32px;
  height: 27px;
}
.deleteModal .deleteModalInfo {
  margin-top: 50px;
  display: inline-block;
  margin-left: 25px;
}
.deleteModal .deleteModalInfo > span {
  display: block;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #333333;
  text-align: left;
  font-weight: bold;
  margin-bottom: 15px;
}
.deleteModal .deleteModalInfo > p {
  font-family: MicrosoftYaHei;
  font-size: 12px;
  color: #999999;
  margin-bottom: 11px;
}
