.content{
  display: flex;
  height: 100%;
  background: #fff;
  .contentSpin{
    width: 100%;
  }
  
  .titleText{
    font-size: 16px;
    color: #333333;
    line-height: 24px;
  }
  .areaTree{
    width: 300px;
    min-width: 300px;
    padding: 15px 0 15px 15px;
    :global{
      .ant-tree.ant-tree-block-node li .ant-tree-node-content-wrapper{
        width: auto;
      }
    }
    .dataTree{
      overflow-x: auto;
    }
    .treeTitleInfo{
      .treeBtnBox{
        display: inline-block;
        // width: 140px;
        // padding: 3px 0 0 5px;
        color: #999999;
      }
      // .checkBtn{
      //   width: auto;
      //   color: #999999;
      //   border: none;
      //   &:hover{
      //     color: #999999;
      //     border: none;
      //   }
      // }
      // .treeBtn{
      //   margin: 3px 2px;
      //   display: inline-block;
      //   width: 20px;
      // }
      :global{
        .ant-input-sm{
          // width: 70%;
          padding: 0 1px;
          height: 20px;
          line-height:inherit
        }
      }
    }
    .hasSame{
      font-size: 12px;
      margin-top: -4px;
    }
  }
  .monitorList{
    width: calc(100% - 300px);
    min-width: 900px;
    // margin-left: 20px;
    margin:15px 0 15px 20px;
    padding:0 15px;
    border-left: 1px solid #EEE;
  }
  .searchBox{
    display: flex;
    height: 72px;
    line-height: 72px;
    background: #f7f7f7;
    padding-left: 20px;
    .searchItme{
      flex: 1;
      :global{
        .ant-input{
          width: 60%;
        }
      }
    }
    .searchHandleBtn{
      margin: 20px 5px 20px 5px;
      &:last-child{
        margin-right: 20px;
      }
    }
  }
  .searchResult{
    margin: 10px 0 5px 0;
    .tableOnlineStatus{
      display: inline-block;
      span{
        display: inline-block;
        vertical-align: middle;
      }
      .tableOffline{
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background: #BFBFBF;
        margin-right: 5px;
      }
      
      .tableONline{
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background: #52C41A;
        margin-right: 5px;
      }
    }
    tr,th,td{
      white-space:nowrap;
    }

  }
  .handleResult{
    :global{
      .ant-checkbox-wrapper{
        margin-left: 20px;
      }
    }
    .handleBtn{
        width: auto;
        color: #4095E3;
        border: none;
        &:hover{
          color: #4095E3;
          border: none;
        }
    }
  }
  .delModalText{
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  .cursorPoniter{
    cursor: pointer;
  }
  .deviceModal{
    .searchModalBox{
      margin: 20px 0;
      display: flex;
      .searchItme{
        flex: 1;
        :global{
          .ant-input{
            width: 60%;
          }
        }
      }
      .searchHandleBtn{
        margin: 0 5px;
      }
    }
    :global{
      .ant-table-tbody > tr > td{
        padding: 10px;
      }
      .ant-table-thead > tr > th{
        padding: 10px;
      }
    }
  
  }
}
.popoverInfo{
  min-width: 126px;
}
.popoverInfoMin{
  min-width: 62px;
}
.popoverInfo, .popoverInfoMin{
  .checkBtn{
    width: auto;
    color: #999999;
    border: none;
    &:hover{
      color: #999999;
      border: none;
    }
  }
  .treeBtn{
    margin: 3px 4px;
    display: inline-block;
    // width: 10px;
  }
}