.content{
    display: flex;
    background: #fff;
    // width: 70%;
    height: calc(100% - 10px);
    // margin: 10px;
}

.areaBox{
    width: 240px;
    height: calc(100% - 90px);
    padding: 10px 10px 20px;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none; /*取消双击选中文字*/
    :global{
        .ant-tree{
            font-size: 12px;
        }
        .ant-select{
            margin-top: 10px;
            font-size: 12px;
        }
        .ant-tree li .ant-tree-node-content-wrapper{
            padding: 0;
        }
        .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected{
            background-color: #BFE5FF;
        }
        .ant-tree.ant-tree-block-node li .ant-tree-node-content-wrapper{
            width: auto;
            padding-right: 8px;
        }
        .ant-input-affix-wrapper{
            .ant-input{
                height: 26px;
                font-size: 12px;
            }
        }
    }
    h2{
        font-size: 16px;
    }
    .areaList{
        width: 100%;
        height: 100%;
        overflow: auto;
        .treeNameById{
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }
    .monitorOnline{
        color: #FA8334;
        font-size: 16px;
    }
    .monitorOffline{
        color: #8c8c8c;
        font-size: 16px;
    }
}

.videoBox{
    flex: 1;
    // padding: 10px;
    // height: calc(100% - 32px );
    position: relative;
    // .videoHandle{
    //     display: none;
    // }
    // &:hover{
        .videoWrapBox{
            width: 100%;
            height: calc(100% - 36px);
        }
        .videoChooseSquare{
            width: 100%;
            // text-align: right;
            background-color: #4095E3;
            height: 36px;
            line-height: 36px;
            padding-right: 7px;
            position: absolute;
            bottom: 0;
            left: 0;
            .videoChooseBtn{
                color: #fff;
                display: inline-block;
                cursor: pointer;
                font-size: 18px;
                // padding-top: -2px;
                margin: 0 3px;
                vertical-align: middle;
            }
            .videoChooseSquareText{
                font-size: 14px;
                color: #fff;
                margin-left: 10px;
                display: inline-block;
                vertical-align: middle;
            }
            .activeChoice{
                color: #FF9832;
            }
            .intoFullScreen{
                float: right;
                margin-top: 8px;
            }
        }
        .videoHandle{
            position: absolute;
            width: 100%;
            // top: 42px;
            height: 30px;
            line-height: 30px;
            // opacity: 0.5;
            background: rgba(0, 0, 0, 0.3);
            display: flex;
            z-index: 99;
            color: #fff;
            span{
                line-height: 30px;
                &:first-child{
                    margin-left: 10px;
                    margin-right: 10px;
                }
                &:last-child{
                    margin-left: auto;
                    margin-right: 10px;
                }
                &.snapVideoImg{
                    cursor: pointer;
                    margin-right: 20px;
                    font-size: 16px;
                    color: #fff;
                }
            }
            .videoCancelBtn{
                cursor: pointer;
            }
            .videoMonitoring{
                color: #53FF00;
            }
        }
    // }
    .videoSquaredByFour{
        width: 100%;
        height: calc(100% - 36px);
        font-size: 0;
        .allStatusBox{
            display: inline-block;
            vertical-align: top;
            width: 50%;
            height: 50%;
            position: relative;
            font-size: 12px;
            // padding: 1px;
            z-index: 9;
            border: 1px solid transparent;
            &:hover{
                .videojs::-webkit-media-controls{
                    display:block !important;
                    z-index: 99999;
                }
                background: #000;
                // box-shadow:0 0 1px 1px #FF9832;
                border:1px solid #FF9832;
                border-radius: none;
            }
            &.iconBtnWithFocus{
                background: #000;
                border: 1px solid #FF9832 ;
                border-radius: none;
                color: #fff;
            }
        }
        .videoHandle{
            width: calc(100% - 5px);
            left: 5px;
            top: 0;
        }
    }
    
    .allStatusBox{
        width: 100%;
        height: calc(100% - 36px);
        background: #000;
        position: relative;
        p{
            font-size: 16px;
            color: #fff;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%)
        }
    }
    .addVideoIconBtn{
        width: 100%;
        height: 100%;
        font-size: 26px;
        background: #000;
        color: #fff;
        cursor: pointer;
        border-radius: none;
        text-align: center;
        line-height: 100%;
        border-radius: 0;
        position: relative;
        border:1px solid transparent;
        img{
            width: 50%;
            height: 94px;
            object-fit: contain;
            position: absolute; 
            left:50%; 
            top: 50%;
            transform:translate(-50%,-50%);
        }
    }

    .nostatusBox{
        width: 80%;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-60%);
        img{
            width: 100%;
            height: 300px;
            object-fit: contain;
        }
        p{
            margin-top: 10px;
            text-align: center;
            font-size: 12px;
            color: #8C8C8C;
        }
    }
    .nodataBox{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-60%);
    }
}

.historyList{
    position: relative;
    width: 240px;
    background: #fff;
    height: 100%;
    padding: 10px;
    overflow:auto;
    .historyTitle{
        // display: flex;
        a{
            // margin-left: 80px;
            float: right;
        }
    }
    .peopleAreaTotal{
        a{
            margin-left: 90px;
        }
    }
    p{
        margin: 0;
        font-size: 12px;
        color: #333;
        // padding-left: 5px;
    }
    .peopleAreaNum{
        margin-bottom: 10px;
        div{
            margin: 10px 10px 0 0;
            font-size: 12px;
            border: 1px solid #f9f9f9;
            display: flex;
        }
        span{
            display: inline-block;
        }
        .peopleAreaKind{
            padding: 10px 20px;
            background-color: #d9d9d9;
        }
        .peopleAreaAll{
            flex:1;
            text-align: center;
            padding-top: 10px;
        }
    }
    .historyCard{
        :global{
            .ant-card-body{
                padding: 10px;
                background-color: #EDEDED;
            }
        }
        .historyListCard{
            text-align: center;
        }
        .historyTopnoImage{
            width: 100%;
            height: 100px;
            object-fit: contain;
        }
        .historyTextBox{
            display: flex;
            font-size: 12px;
            color: #333;
            span{
                display: inline-block;
            }
        }
        .historyTime{
            margin-left: auto;
            color: #8C8C8C;
        }
        .historyTextName{
            font-size: 12px;
            display: flex;
            span{
                line-height: 20px;
            }
            .AlarmCardTag{
                display: inline-block;
                width: 52px;
                line-height: 18px;
                height: 20px;
                text-align: center;
                border-radius:4px;
                margin-left: 5px;
                border: 1px solid #FFA39E;
                &-WHITE{
                    color: #52c41a;
                    background: #f6ffed;
                    border-color: #b7eb8f;
                }
                &-BLACK{
                    color:#F5222D; 
                    border-color: #FFA39E;
                    background:#FFF1F0;
                }
                &-OTHER{
                    color:#1890FF ; 
                    border-color: #91D5FF;
                    background:#E6F7FF;
                }
            }
        }
        .nodataBox{
            width: 100px;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-60%);
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .historyListCard{
        .noHistoryList{
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
        .historyItem{
            width: 215px;
            height: 130px;
            position: relative;
            margin-top: 7px;
            cursor: pointer;
            box-shadow: -5px 5px 10px -5px #000;
            img{
                width: 100%;
                height: 100%;
                &:hover{
                    border: 1px solid #FA8334;
                }
            }
            .historyTextBox{
                font-size: 12px;
                position: absolute;
                left: 0;
                bottom: 0;
                color: #fff;
                user-select: none;
                height: 20px;
                width: 100%;
            }
            .historyTextName{
                display: inline-block;
                // width: 76px;
                padding: 0 5px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                background-color: #FA8334;
            }
            .historyTime{
                float: right;
                padding: 0 2px;
                background-color:rgba(0,0,0,0.6);
            }
        }
    }
}
.alarmDetailModal{
    .alarmListImg{
        width: 520px;
        position: relative;
        margin-bottom: 5px;
        img{
            width: 100%;
        }
    }
    :global{
        .ant-modal-header{
            display: none;
        }
        .ant-modal-body{
            padding:20px !important;
        }
        .ant-modal-close {
            top: -20px !important;
            right: -45px !important;
            color: white;
            &:focus,&:hover{
                color: #fff;
                opacity: 0.6;
            }
        }
    }
    .historyTopnoImage{
        width: 100%;
        height: 100px;
        object-fit: contain;
    }
    .alarmModalName{
        background: #FA8334;
        padding: 5px 8px;
        position: absolute;
        left: 0;
        bottom: 0;
        color: #fff;
    }
    .AlarmCardTag{
        display: inline-block;
        width: 52px;
        line-height: 18px;
        height: 20px;
        text-align: center;
        border-radius:4px;
        margin-left: 5px;
        border: 1px solid #FFA39E;
        &-WHITE{
            color: #52c41a;
            background: #f6ffed;
            border-color: #b7eb8f;
        }
        &-BLACK{
            color:#F5222D; 
            border-color: #FFA39E;
            background:#FFF1F0;
        }
        &-OTHER{
            color:#1890FF ; 
            border-color: #91D5FF;
            background:#E6F7FF;
        }
    }
    .alarmDetailInfoBox{
        width: 100%;
        .alarmDetailInfo{
            display: inline-block;
            width: 50%;
            padding: 0 5px 5px;
            &:nth-child(even){
                padding-left: 90px;
            }
        }
        .alarmDetailInfoIcon{
            margin-right: 5px;
        }
    }
}
.chartsDetailModal{
    .chartsModalBox{
        width: 700px;
        height: 380px;
    }
   .modalPeopleInfo{
       span{
           cursor: pointer;
           display: inline-block;
           width: 63px;
           font-size: 14px;
           text-align: center;
           height: 32px;
           line-height: 32px;
           color: #8c8c8c;
           border: 1px solid #d9d9d9;
           -webkit-user-select: none; /* Safari */
           -ms-user-select: none; /* IE 10 and IE 11 */
           user-select: none; /* Standard syntax */
           &.btnActive{
             color: #1890FF;
             border-color: #1890FF;
           }
       }
       
   }
    .modalChartsInfo{
        height: 340px;
    }
}