.content{
    display: flex;
    background: #fff;
    // width: 70%;
    height: calc(100% - 20px);
    margin: 10px;
}

.areaBox{
    width: 240px;
    height: calc(100% - 90px);
    padding: 10px 10px 20px;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none; /*取消双击选中文字*/
    :global{
        .ant-tree{
            font-size: 12px;
        }
        .ant-select{
            margin-top: 10px;
        }
        .ant-tree li .ant-tree-node-content-wrapper{
            padding: 0;
        }
        .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected{
            background-color: #BFE5FF;
        }
        .ant-tree.ant-tree-block-node li .ant-tree-node-content-wrapper{
            width: auto;
            padding-right: 8px;
        }
    }
    h2{
        font-size: 16px;
    }
    .areaList{
        width: 100%;
        height: 100%;
        overflow: auto;
        .treeNameById{
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }
    .monitorOnline{
        color: #FA8334;
    }
    .monitorOffline{
        color: #8c8c8c;
    }
}

.videoBox{
    flex: 1;
    padding: 10px;
    height: 100%;
    position: relative;
    .videoHandle{
        display: none;
    }
    &:hover{
        .videoHandle{
            position: absolute;
            width: calc(100% - 20px);
            top: 10px;
            height: 30px;
            line-height: 30px;
            opacity: 0.65;
            background: #fff;
            display: flex;
            z-index: 99;
            span{
                line-height: 30px;
                &:first-child{
                    margin-left: 10px;
                    margin-right: 10px;
                }
                &:last-child{
                    margin-left: auto;
                    margin-right: 10px;
                }
            }
            .videoCancelBtn{
                cursor: pointer;
            }
            .videoMonitoring{
                color: #53FF00;
            }
        }
    }
    
    .allStatusBox{
        width: 100%;
        height: 100%;
        background: #000;
        position: relative;
        p{
            font-size: 16px;
            color: #fff;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%)
        }
    }

    .nostatusBox{
        width: 80%;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-60%);
        img{
            width: 100%;
            height: 300px;
            object-fit: contain;
        }
        p{
            margin-top: 10px;
            text-align: center;
            font-size: 12px;
            color: #8C8C8C;
        }
    }
    .nodataBox{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-60%);
    }
}
.historyList{
    width: 240px;
    background: #fff;
    height: 100%;
    padding: 10px 0;
    overflow:auto;
    .historyTitle{
        display: flex;
        a{
            // display: inline-block;
            margin-left: 90px;
        }
    }
    p{
        margin: 0;
        font-size: 12px;
        color: #333;
        // padding-left: 5px;
    }
    .historyCard{
        :global{
            .ant-card-body{
                padding: 10px;
                background-color: #EDEDED;
            }
        }
        .historyListCard{
            text-align: center;
        }
        .historyTopnoImage{
            width: 100%;
            height: 100px;
            object-fit: contain;
        }
        .historyTextBox{
            display: flex;
            font-size: 12px;
            color: #333;
            span{
                display: inline-block;
            }
        }
        .historyTime{
            margin-left: auto;
            color: #8C8C8C;
        }
        .historyTextName{
            font-size: 12px;
            display: flex;
            .AlarmCardTag{
                display: inline-block;
                width: 52px;
                line-height: 18px;
                height: 20px;
                text-align: center;
                border-radius:4px;
                margin-left: 5px;
                border: 1px solid #FFA39E;
                &-WHITE{
                    color: #52c41a;
                    background: #f6ffed;
                    border-color: #b7eb8f;
                }
                &-BLACK{
                    color:#F5222D; 
                    border-color: #FFA39E;
                    background:#FFF1F0;
                }
                &-OTHER{
                    color:#1890FF ; 
                    border-color: #91D5FF;
                    background:#E6F7FF;
                }
            }
        }

    }
}