.videoWrap{
    width: 100%;
    height: 100%;
    .videojs{
        width: 100%;
        height: 100%;
    }
}
// .video-js{
//     width: 100%;
//     height: 100%;
// }
// .video-js.vjs-fluid{
//     width: 100%;
//     height: 100%;
// }