.videoWrap{
    width: 100%;
    height: 100%;
    // padding-bottom:62%;
    box-sizing: border-box;
    position: relative;
    border:1px solid transparent;
    &.videoFourWrap{
        &:hover{
            border: 1px solid #108EE9;
            border-radius: 5px;
            .videojs{
                border-radius: 5px;
            }
        }
    }
    &.hasLine{
        border: 1px solid #108EE9;
        border-radius: 5px;
        .videojs{
            border-radius: 5px;
        }
    }
    .videojs{
        width: 100%;
        height: 100%;
    }
    .canvasLine{
        position: absolute;
        width: 100%;
        // border: 1px solid red;
    }
    .maskLine{
        position: absolute;
        width: 100%;
    }
    
}
// .hoverShowControls{
//    .videojs::-webkit-media-controls{
//         display:block !important;
//         z-index: 217483647;
//     }
//     &:hover{
//         .videojs::-webkit-media-controls{
//             display:block !important;
//             z-index: 217483647;
//         }
//     }
// }
// .hoverShowControls{
//     &:hover{
//         .videojs::-webkit-media-controls{
//             display:block !important;
//         }
//     }
// }
// .video-js{
//     width: 100%;
//     height: 100%;
// }
// .video-js.vjs-fluid{
//     width: 100%;
//     height: 100%;
// }