.content{
    // background: yellow;
    position: relative;
    .header{
        display: flex;

        .operationAssets{
            display: flex;
        }
        .query{
            display: flex;
            div{
                display: flex;
            }
        }
    }
}